<app-navbar></app-navbar>
<div class="about-us-container">
    <div class="about-us-content">
      <h2>Chi siamo</h2>
      <p>
        HiveMind è un centro di condivisione di idee anonime, dove ogni utente ha la possibilità di proporre e valutare idee
        basandosi esclusivamente sulla loro meritevolezza intrinseca. La decisione di mantenere l'anonimato delle idee
        promuove l'uguaglianza e la giusta valutazione indipendentemente dall'identità dell'autore.
      </p>
      <p>
        Crediamo che il voto debba essere dato con attenzione e riflessione, pertanto una volta espresso non può essere cambiato.
        Questo approccio mira a promuovere una cultura di valutazione ponderata e di rispetto per tutte le opinioni.
      </p>
      <p>
        Presso HiveMind, il nostro obiettivo è facilitare la creazione di un ambiente inclusivo dove le idee possano
        emergere e crescere in modo equo e imparziale.
      </p>
      <p>
        Unisciti a noi nel plasmare il futuro attraverso la condivisione e la valutazione delle idee, per contribuire
        positivamente alla nostra comunità globale.
      </p>
    </div>
  </div>
  